.mobile-nav-toggle-label {
    display: inline-block !important;
}

@font-face {
    font-family: "Albra Bold";
    src: url("https://static1.squarespace.com/static/5aa9a74ca2772cf40cb0e86b/t/5ff8d81b78ad8522d3d4b05f/1610143771752/Albra+Bold.otf");
}

h1,
h2 {
    font-family: "Albra Bold";
}

/* Banner Size */
view-list .banner-thumbnail-wrapper,
.collection-type-page .banner-thumbnail-wrapper,
.collection-type-index .banner-thumbnail-wrapper {
    min-height: 200px;
    padding: 130px 0px;
}
