// Ticker Animation
// Animation Based off of https://codepen.io/lewismcarey/pen/GJZVoG

$duration: 15s;
$warningYellow: #f5a623;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-toggle-wrapper {
  margin: auto; // centers element horizontally
  padding: 0.5em 0; // extra padding on the top and bottom

  width: fit-content;
  height: fit-content;

  display: grid;
  // HARDCODED the icon size
  grid-template-columns: 1fr 18px;
  column-gap: 1em;
  align-items: center; // vertical centering

  .ticker-toggle-btn {
    cursor: pointer;
    border: 1px solid $warningYellow;
    background-color: $warningYellow;
    border-radius: 0.8em;
    padding: 0.5em 0.75em;

    display: grid;
    // HARDCODED the icon size
    grid-template-columns: 18px 1fr;
    column-gap: 8px;
    align-items: center; // vertical centering

    &:hover {
      background-color: transparent;
      border-color: white;
    }

    p.ticker-toggle-btn-txt {
      margin: 0;
      color: white;
    }

    .ticker-toggle-btn-icon {
      height: fit-content;

      // remove vertical line on the bottom of the svg element
      // https://stackoverflow.com/a/24626986
      svg {
        vertical-align: top;
        color: white;
      }
    }
  }

  .ticker-btn-globe-icon {
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid white;

    border-radius: 1em;

    padding: 0.5em;
    width: fit-content;

    &:hover {
      background-color: transparent;
    }
    // remove vertical line on the bottom of the svg element
    // https://stackoverflow.com/a/24626986
    svg {
      vertical-align: top;
    }
  }
}

.ticker-wrap {
  // fill 100% of the viewport
  width: 100vw;
  margin-left: calc(-50vw + 50%);

  overflow: hidden;
  height: 4rem;
  box-sizing: content-box;

  background-color: #ffffff96;

  .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-left: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;

      padding: 0 2rem;
      font-size: 2rem;
    }
  }
}
